# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore environment variables
.env

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db